* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-color: #ffffff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1820px;
    margin: 15px auto 0;
    padding: 20px 40px;
}

.nav {
    display: flex;
    gap: 100px;
}

.header-actions {
    display: flex;
    gap: 130px;
}

.logo img {
    width: 290px;
}

.nav a {
    font-size: 20px;
    font-weight:600px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
}

.btn-outline {
    border: 2px solid #111111;
    background-color: #ffffff;
    color: #111111;
}

.btn-primary {
    border: 2px solid #111111;
    background-color: #FFC928;
    color:#111111;
}

.hero {
    display: flex;
    max-width: 1820px;
    margin: 0 auto;
}

.hero-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
}

.hero-image {
    width: 50%;
}

.hero-image img {
    width: 100%;
    display: block;
}

.hero h1 {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 52px;
    font-weight: 800;
    line-height: 1;
}

.hero h1 span {
    display: block;
    color: #ffc629;
}

.hero-subtitle {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.hero-subtitle span {
    color: #ffc629;
}

.hero p {
    font-size: 22px;
    line-height: 1.5;
    max-width: 450px;
    margin-top: 48px;
}

.hero-button {
    margin-top: 40px;
    padding: 12px 20px;
    border: 1px solid #111111;
    border-radius: 25px;
    background-color: #ffc629;
    color: #111111;
    font-weight: 700;
}